html, body {
    margin: 0;
    padding: 0;
}

* {
    cursor: default !important;
}
/* Header */
.headerTop {
    position: absolute;
    width: 100%;
}

.headerPane {
    background-position: left top;
    background-repeat: no-repeat;
}

    .headerPane.panel {
        padding: 0;
    }

.headerMenu {
    border-width: 0 !important;
    border-top-width: 1px !important;
}

.templateTitle span {
    position: relative;
    float: left;
    margin: 1px 1px 1px 10px;
    text-decoration: none;
    font-size: large;
    color: black;
    width: 100%;
    text-align: center;
}

.headerPane.bar .templateTitle {
    margin: 0;
}

/* Footer */
.copyright,
.icp {
    float: right;
    margin: 5px;
}

/* Office2010Blue */
.dxsplControl_Office2010Blue .headerPane,
.dxsplControl_Office2010Blue .footerPane {
    background-color: #BED1E9;
}

.dxpnlControl_Office2010Blue .templateTitle {
    color: Black;
}

.dxrControl_Office2010Blue .dxr-buttonItem {
    cursor: default !important;
}

.dxsplPane_Office2010Blue .dxsplLCC {
    background-color: #bed1e9;
}

.dxrControl_Office2010Blue .dxr-minBtn {
    padding-top: 20px;
}

    .dxrControl_Office2010Blue .dxr-minBtn img {
        cursor: pointer !important;
    }

/*dxtc-tab dxr-fileTab dxtc-lead*/
.dxrControl_Office2010Blue .dxtcLite_Office2010Blue.dxtc-top .dxtc-tab.dxr-fileTab {
    background: none !important;
    border-width: 0px 0px 1px 0px !important;
}
.dxtcLite_Office2010Blue > .dxtc-content{
    padding:2px !important;
}
