<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=null" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"  />
  </configSections>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="WCFExceptionPolicy">
        <exceptionTypes>
          <add name="AllException" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException" />
        </exceptionTypes>
      </add>
      <add name="ExceptionPolicy">
        <exceptionTypes>
          <add name="ServiceActivationException" type="System.ServiceModel.ServiceActivationException, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null"
                exceptionMessage="ServerException" exceptionMessageResourceName="Error_ServerException"
                exceptionMessageResourceType="FengSharp.OneCardAccess.Client.PC.Properties.Resources, FengSharp.OneCardAccess.Client.PC"
                replaceExceptionType="FengSharp.OneCardAccess.Common.BusinessException, FengSharp.OneCardAccess.Common" />
            </exceptionHandlers>
          </add>
          <add name="EndpointNotFoundException" type="System.ServiceModel.EndpointNotFoundException, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null"
                exceptionMessage="ConnectionServerFailed" exceptionMessageResourceName="Error_ConnectionServerFailed"
                exceptionMessageResourceType="FengSharp.OneCardAccess.Client.PC.Properties.Resources, FengSharp.OneCardAccess.Client.PC"
                replaceExceptionType="FengSharp.OneCardAccess.Common.BusinessException, FengSharp.OneCardAccess.Common" />
            </exceptionHandlers>
          </add>
          <add name="CommunicationException" type="System.ServiceModel.CommunicationException, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null"
                exceptionMessage="CommunicationException" exceptionMessageResourceName="Error_CommunicationException"
                exceptionMessageResourceType="FengSharp.OneCardAccess.Client.PC.Properties.Resources, FengSharp.OneCardAccess.Client.PC"
                replaceExceptionType="FengSharp.OneCardAccess.Common.BusinessException, FengSharp.OneCardAccess.Common" />
            </exceptionHandlers>
          </add>
          <add name="LoginTimeOutException" type="FengSharp.OneCardAccess.Common.LoginTimeOutException, FengSharp.OneCardAccess.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null"
                exceptionMessage="LoginTimeOut" exceptionMessageResourceName="Error_LoginTimeOut"
                exceptionMessageResourceType="FengSharp.OneCardAccess.Client.PC.Properties.Resources, FengSharp.OneCardAccess.Client.PC"
                replaceExceptionType="FengSharp.OneCardAccess.Common.LoginTimeOutException, FengSharp.OneCardAccess.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultEndpointBehavior">
          <ExceptionHandling exceptionPolicy="WCFExceptionPolicy" />
          <Session />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="routingBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <routing routeOnHeadersOnly="true" filterTableName="GreetFilterTable" soapProcessingEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ExceptionHandling" type="FengSharp.OneCardAccess.Common.ExceptionHandlingBehaviorElement, FengSharp.OneCardAccess.Common" />
        <add name="Session" type="FengSharp.OneCardAccess.Common.SessionBehaviorElement, FengSharp.OneCardAccess.Common" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultnetTcpBinding" closeTimeout="00:03:00"
          openTimeout="00:03:00" receiveTimeout="00:03:00" >
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="DefaultwsHttpBinding" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="RBACClientnetTcpEndpoint" binding="wsHttpBinding" contract="*"
            behaviorConfiguration="DefaultEndpointBehavior"
            bindingConfiguration="DefaultwsHttpBinding"
            address="http://127.0.0.1/OneCardAccessServer/RBACService.svc" />
      <endpoint name="BasicInfoClientnetTcpEndpoint" binding="wsHttpBinding" contract="*"
            behaviorConfiguration="DefaultEndpointBehavior"
            bindingConfiguration="DefaultwsHttpBinding"
            address="http://127.0.0.1/OneCardAccessServer/BasicInfoService.svc" />
      <endpoint name="ConnectClientwsHttpBinding" binding="wsHttpBinding" contract="*"
            behaviorConfiguration="DefaultEndpointBehavior"
            bindingConfiguration="DefaultwsHttpBinding"
            address="http://127.0.0.1/OneCardAccessServer/ConnectService.svc" />
    </client>
    <routing>
      <filters>
        <filter name="RBACnetTcpFilter"  filterType="EndpointName"  filterData="RBACEndpoint"/>
        <filter name="BasicInfonetTcpFilter"  filterType="EndpointName"  filterData="BasicInfoEndpoint"/>
        <filter name="ConnectnetTcpFilter"  filterType="EndpointName"  filterData="ConnectEndpoint"/>
      </filters>
      <filterTables>
        <filterTable name="GreetFilterTable">
          <add filterName="RBACnetTcpFilter" endpointName="RBACClientnetTcpEndpoint"/>
          <add filterName="BasicInfonetTcpFilter" endpointName="BasicInfoClientnetTcpEndpoint"/>
          <add filterName="ConnectnetTcpFilter" endpointName="ConnectClientwsHttpBinding"/>
        </filterTable>
      </filterTables>
    </routing>
    <services>
      <service behaviorConfiguration="routingBehavior" name="System.ServiceModel.Routing.RoutingService">
        <endpoint name="BasicInfoEndpoint" address="BasicInfo" binding="ws2007HttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint name="RBACEndpoint" address="RBAC" binding="ws2007HttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint name="ConnectEndpoint" address="Connect" binding="ws2007HttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint name="RoutingmexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://0.0.0.0:47604/" />
            <add baseAddress="http://0.0.0.0:37604/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="RoutingService.svc" service="System.ServiceModel.Routing.RoutingService,System.ServiceModel.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             factory="FengSharp.OneCardAccess.Router.DefaultServiceHostFactory"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
