<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="routingBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <routing routeOnHeadersOnly="true" filterTableName="GreetFilterTable" soapProcessingEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="DefaultnetTcpBinding" closeTimeout="00:03:00"
          openTimeout="00:03:00" receiveTimeout="00:03:00" >
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="DefaultwsHttpBinding" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="RBACClientwsHttpEndpoint" binding="wsHttpBinding" contract="*"
            bindingConfiguration="DefaultwsHttpBinding"
            address="http://localhost/OneCardAccessServer/RBACService.svc" />

      <endpoint name="RBACClientnetTcpEndpoint" binding="netTcpBinding" contract="*"
            bindingConfiguration="DefaultnetTcpBinding"
            address="net.tcp://127.0.0.1:8086/OneCardAccessServer/RBACService.svc" />

      <endpoint name="BasicInfoClientwsHttpEndpoint" binding="wsHttpBinding" contract="*"
            bindingConfiguration="DefaultwsHttpBinding"
            address="http://localhost/OneCardAccessServer/BasicInfoService.svc" />

      <endpoint name="BasicInfoClientnetTcpEndpoint" binding="netTcpBinding" contract="*"
            bindingConfiguration="DefaultnetTcpBinding"
            address="net.tcp://127.0.0.1:8086/OneCardAccessServer/BasicInfoService.svc" />

      <endpoint name="ConnectClientwsHttpBinding" binding="wsHttpBinding" contract="*"
            bindingConfiguration="DefaultwsHttpBinding"
            address="http://localhost/OneCardAccessServer/ConnectService.svc" />

      <endpoint name="ConnectClientnetTcpBinding" binding="netTcpBinding" contract="*"
            bindingConfiguration="DefaultnetTcpBinding"
            address="net.tcp://127.0.0.1:8086/OneCardAccessServer/ConnectService.svc" />
    </client>
    <routing>
      <filters>
        <filter name="RBACFilter"  filterType="EndpointName"  filterData="RBACEndpoint"/>
        <filter name="BasicInfoFilter"  filterType="EndpointName"  filterData="BasicInfoEndpoint"/>
        <filter name="ConnectFilter"  filterType="EndpointName"  filterData="ConnectEndpoint"/>
      </filters>
      <filterTables>
        <filterTable name="GreetFilterTable">
          <add filterName="RBACFilter" endpointName="RBACClientwsHttpEndpoint"/>
          <add filterName="BasicInfoFilter" endpointName="BasicInfoClientwsHttpEndpoint"/>
          <add filterName="ConnectFilter" endpointName="ConnectClientwsHttpBinding"/>
        </filterTable>
      </filterTables>
    </routing>
    <services>
      <service behaviorConfiguration="routingBehavior" name="System.ServiceModel.Routing.RoutingService">
        <endpoint name="BasicInfoEndpoint" address="BasicInfo" binding="ws2007HttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint name="RBACEndpoint" address="RBAC" binding="ws2007HttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint name="ConnectEndpoint" address="Connect" binding="ws2007HttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <!--<endpoint name="BasicInfoEndpoint" address="BasicInfo" binding="netTcpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint name="RBACEndpoint" address="RBAC" binding="netTcpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint name="ConnectEndpoint" address="Connect" binding="netTcpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0/OneCardAccessRouter/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false">
      <serviceActivations>
        <add relativeAddress="RoutingService" service="System.ServiceModel.Routing.RoutingService,System.ServiceModel.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             factory="FengSharp.OneCardAccess.Router.DefaultServiceHostFactory"/>
      </serviceActivations>
    </serviceHostingEnvironment>-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
