<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=null" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"  />
  </configSections>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="WCFExceptionPolicy">
        <exceptionTypes>
          <add name="AllException" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException" />
        </exceptionTypes>
      </add>
      <add name="ExceptionPolicy">
        <exceptionTypes>
          <add name="ServiceActivationException" type="System.ServiceModel.ServiceActivationException, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null"
                exceptionMessage="ServerException" exceptionMessageResourceName="Error_ServerException"
                exceptionMessageResourceType="FengSharp.OneCardAccess.Client.PC.Properties.Resources, FengSharp.OneCardAccess.Client.PC"
                replaceExceptionType="FengSharp.OneCardAccess.Common.BusinessException, FengSharp.OneCardAccess.Common" />
            </exceptionHandlers>
          </add>
          <add name="EndpointNotFoundException" type="System.ServiceModel.EndpointNotFoundException, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null"
                exceptionMessage="ConnectionServerFailed" exceptionMessageResourceName="Error_ConnectionServerFailed"
                exceptionMessageResourceType="FengSharp.OneCardAccess.Client.PC.Properties.Resources, FengSharp.OneCardAccess.Client.PC"
                replaceExceptionType="FengSharp.OneCardAccess.Common.BusinessException, FengSharp.OneCardAccess.Common" />
            </exceptionHandlers>
          </add>
          <add name="CommunicationException" type="System.ServiceModel.CommunicationException, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null"
                exceptionMessage="CommunicationException" exceptionMessageResourceName="Error_CommunicationException"
                exceptionMessageResourceType="FengSharp.OneCardAccess.Client.PC.Properties.Resources, FengSharp.OneCardAccess.Client.PC"
                replaceExceptionType="FengSharp.OneCardAccess.Common.BusinessException, FengSharp.OneCardAccess.Common" />
            </exceptionHandlers>
          </add>
          <add name="LoginTimeOutException" type="FengSharp.OneCardAccess.Common.LoginTimeOutException, FengSharp.OneCardAccess.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null"
                exceptionMessage="LoginTimeOut" exceptionMessageResourceName="Error_LoginTimeOut"
                exceptionMessageResourceType="FengSharp.OneCardAccess.Client.PC.Properties.Resources, FengSharp.OneCardAccess.Client.PC"
                replaceExceptionType="FengSharp.OneCardAccess.Common.LoginTimeOutException, FengSharp.OneCardAccess.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultEndpointBehavior">
          <ExceptionHandling exceptionPolicy="WCFExceptionPolicy" />
          <Session />
        </behavior>
        <behavior name="SecondEndpointBehavior">
          <ExceptionHandling exceptionPolicy="WCFExceptionPolicy" />
          <!--<Session />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ExceptionHandling" type="FengSharp.OneCardAccess.Common.ExceptionHandlingBehaviorElement, FengSharp.OneCardAccess.Common" />
        <add name="Session" type="FengSharp.OneCardAccess.Common.SessionBehaviorElement, FengSharp.OneCardAccess.Common" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultnetTcpBinding" closeTimeout="00:03:00"
          openTimeout="00:03:00" receiveTimeout="00:03:00" >
          <security mode="None"/>
        </binding>
        <!--<binding name="TransfernetTcpBinding" maxBufferPoolSize="524288000" maxBufferSize="65536000" maxReceivedMessageSize="65536000" transferMode="Streamed" >
          <security mode="None"/>
        </binding>-->
      </netTcpBinding>
    </bindings>
    <client>

      <!--<endpoint address="net.tcp://192.168.18.2/OneCardAccessServer/TransferService.svc"
        binding="netTcpBinding" behaviorConfiguration="SecondEndpointBehavior"
        contract="FengSharp.OneCardAccess.ServiceInterfaces.ITransferService"
        name="TransferService" bindingConfiguration="TransfernetTcpBinding" />-->
      <endpoint address="net.tcp://127.0.0.1/OneCardAccessServer/RBACService.svc"
        binding="netTcpBinding" behaviorConfiguration="DefaultEndpointBehavior"
        contract="FengSharp.OneCardAccess.ServiceInterfaces.IRBACService"
        name="RBACService" bindingConfiguration="DefaultnetTcpBinding" />
      <endpoint address="net.tcp://127.0.0.1/OneCardAccessServer/BasicInfoService.svc"
        binding="netTcpBinding" behaviorConfiguration="DefaultEndpointBehavior"
        contract="FengSharp.OneCardAccess.ServiceInterfaces.IBasicInfoService"
        name="BasicInfoService" bindingConfiguration="DefaultnetTcpBinding" />
      <endpoint address="net.tcp://127.0.0.1/OneCardAccessServer/ConnectService.svc"
        binding="netTcpBinding" behaviorConfiguration="DefaultEndpointBehavior"
        contract="FengSharp.OneCardAccess.ServiceInterfaces.IConnectService"
        name="ConnectService" bindingConfiguration="DefaultnetTcpBinding" />
    </client>
  </system.serviceModel>
  <dataConfiguration defaultDatabase="UserConfigConnection">
    <providerMappings>
      <add databaseType="FengSharp.OneCardAccess.Core.SQLiteDatabase, FengSharp.OneCardAccess.Client.PC" name="System.Data.SQLite" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="UserConfigConnection" connectionString="Data Source=|DataDirectory|data.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider For SQLite"
           type="FengSharp.OneCardAccess.Core.SQLiteDatabaseData, FengSharp.OneCardAccess.Client.PC"/>
    </DbProviderFactories>
  </system.data>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Microsoft.Practices.Unity.Interception.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=null" />
    <assembly name="FengSharp.OneCardAccess.Client.PC" />
    <namespace name="FengSharp.OneCardAccess.Client.PC.Interfaces" />
    <namespace name="FengSharp.OneCardAccess.Core" />
    <namespace name="FengSharp.OneCardAccess.Client.PC.ViewModel.BasicInfo" />
    <namespace name="FengSharp.OneCardAccess.Client.PC.View.BasicInfo" />
    <namespace name="FengSharp.OneCardAccess.Client.PC.ViewModel.RBAC" />
    <namespace name="FengSharp.OneCardAccess.Client.PC.View.RBAC" />
    <namespace name="FengSharp.OneCardAccess.Client.PC.View" />
    <namespace name="FengSharp.OneCardAccess.Client.PC.ViewModel" />
    <container name="ServicesContainer">
      <extension type="Interception" />
      <register type="ILoginView" mapTo="LoginView">
        <lifetime type="singleton"/>
      </register>
      <register type="ILoginViewModel" mapTo="LoginViewModel">
        <lifetime type="singleton"/>
      </register>

      <register type="IMainView" mapTo="MainView">
        <lifetime type="singleton"/>
      </register>
      <register type="IMainViewModel" mapTo="MainViewModel">
        <lifetime type="singleton"/>
      </register>

      <register type="IP_CRTempCollectionView" mapTo="P_CRTempCollectionView"/>
      <register name="IP_CRTempCollectionViewModel" type="IP_CRTempCollectionViewModel" mapTo="P_CRTempCollectionViewModel">
        <constructor/>
      </register>
      <register name="IP_CRTempCollectionSelectViewModel" type="IP_CRTempCollectionSelectViewModel" mapTo="P_CRTempCollectionViewModel">
        <constructor>
          <param name="ViewStyle"/>
        </constructor>
      </register>
      <register type="IP_CRTempView" mapTo="P_CRTempView"/>
      <register type="IP_CRTempViewModel" mapTo="P_CRTempViewModel"/>

      <register type="IRegisterCollectionView" mapTo="RegisterCollectionView"/>
      <register name="IRegisterCollectionViewModel" type="IRegisterCollectionViewModel" mapTo="RegisterCollectionViewModel">
        <constructor/>
      </register>
      <register type="IRegisterView" mapTo="RegisterView"/>
      <register type="IRegisterViewModel" mapTo="RegisterViewModel"/>


      <register type="IUserAndGroupManagerView" mapTo="UserAndGroupManagerView"/>
      <register name="IUserAndGroupManagerViewModel" type="IUserAndGroupManagerViewModel" mapTo="UserAndGroupManagerViewModel">
        <constructor/>
      </register>

      <register type="IUserGroupCollectionView" mapTo="UserGroupCollectionView"/>
      <register name="IUserGroupCollectionViewModel" type="IUserGroupCollectionViewModel" mapTo="UserGroupCollectionViewModel">
        <constructor/>
      </register>
      <register type="IUserGroupView" mapTo="UserGroupView"/>
      <register type="IUserGroupViewModel" mapTo="UserGroupViewModel"/>
      

      <register type="IUserCollectionView" mapTo="UserCollectionView"/>
      <register name="IUserCollectionViewModel" type="IUserCollectionViewModel" mapTo="UserCollectionViewModel">
        <constructor/>
      </register>
      <register type="IUserView" mapTo="UserView"/>
      <register type="IUserViewModel" mapTo="UserViewModel"/>
      
      <register type="IChangePassWordView" mapTo="ChangePassWordView"/>
      <register type="IChangePassWordViewModel" mapTo="ChangePassWordViewModel"/>
      

    </container>
  </unity>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>

