<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultnetTcpBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1/OneCardAccessServer/RBACService.svc"
        binding="netTcpBinding" bindingConfiguration="DefaultnetTcpBinding"
        contract="FengSharp.OneCardAccess.ServiceInterfaces.IRBACService"
        name="RBACService" />
    </client>
  </system.serviceModel>
</configuration>