<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="ErrorPolicy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                exceptionMessage="服务调用失败" replaceExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultnetTcpBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.13.1/OneCardAccessServer/RBACService.svc"
        binding="netTcpBinding" bindingConfiguration="DefaultnetTcpBinding"
        contract="FengSharp.OneCardAccess.ServiceInterfaces.IRBACService"
        name="RBACService" />
      <endpoint address="net.tcp://192.168.13.1/OneCardAccessServer/BasicInfoService.svc"
        binding="netTcpBinding" bindingConfiguration="DefaultnetTcpBinding"
        contract="FengSharp.OneCardAccess.ServiceInterfaces.IBasicInfoService"
        name="BasicInfoService" />
    </client>
  </system.serviceModel>
</configuration>