<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="data source=.;initial catalog=OneCardAccessDataBase;User Id = sa;Password=111111;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <add name="DefaultConnectionString1" connectionString="Data Source=.;Initial Catalog=OneCardAccessDB;User Id = sa;Password=111111"
      providerName="FengSharp.Data.SqlClient" />
    <add name="DevelopDefaultConnectionString" connectionString="Data Source=www.kang-li.cn;Initial Catalog=OneCardAccessDB;User Id = sa;Password=111111"
      providerName="FengSharp.Data.SqlClient" />
    <add name="DefaultIntegratedConnectionString" connectionString="Data Source=www.kang-li.cn;Initial Catalog=OneCardAccessDB;Integrated Security=True"
      providerName="FengSharp.Data.SqlClient" />
    <add name="LocalDBConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OneCardAccessDB;User Id = sa;Password=111111"
      providerName="FengSharp.Data.SqlClient" />
    <add name="LocalDBIntegratedConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OneCardAccessDB;Integrated Security=true"
      providerName="FengSharp.Data.SqlClient" />
    <add name="ShareLocalDBConnectionString" connectionString="Data Source=(localdb)\.\MyIISDB;Initial Catalog=OneCardAccessDB;User Id = sa;Password=111111"
      providerName="FengSharp.Data.SqlClient" />
    <add name="ShareLocalDBIntegratedConnectionString" connectionString="Data Source=(localdb)\.\MyIISDB;Initial Catalog=OneCardAccessDB;Integrated Security=true"
      providerName="FengSharp.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FengSharp.OneCardAccess.Services.RBACService">
        <endpoint address="net.tcp://127.0.0.1/OneCardAccessServer/RBACService.svc"
          binding="netTcpBinding" bindingConfiguration="" name="RBACServiceEndPoint"
          contract="FengSharp.OneCardAccess.ServiceInterfaces.IRBACService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
      </service>
      <service name="FengSharp.OneCardAccess.Services.BasicInfoService">
        <endpoint address="net.tcp://127.0.0.1/OneCardAccessServer/BasicInfoService.svc"
          binding="netTcpBinding" bindingConfiguration="" name="BasicInfoServiceEndPoint"
          contract="FengSharp.OneCardAccess.ServiceInterfaces.IBasicInfoService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
