<style type="text/css">
    #ViewContent {
        /*overflow-y: auto;*/
        table-layout: fixed;
        word-wrap: break-word;
        height: 100%;
        width: 100%;
    }

    .tabclose {
        background-image: url(../Css/Ribbon/TabClose.png);
        background-position-x:18px;
        float:right;
        display: block;
        width: 18px;
        height: 18px;
        position:absolute;
        right:0px;
        top:0px;
    }
    .tabclose:hover {
        background-image: url(../Css/Ribbon/TabClose.png);
        background-position-x:0px;
        float:right;
        display: block;
        width: 18px;
        height: 18px;
        position:absolute;
        right:0px;
        top:0px;
    }
</style>
<div id="ViewContent">
    <ul id="tabmenu" class="tabs">
        <li class="tableft">
            <span href="#" name="#tab1_1">隐藏</span>
        </li>
        <li class="tabTitle">
            <span href="#" name="#tab1_1">
                案例一案例一案例一
                <i class="tabclose"></i>
            </span>
        </li>
        <li class="tabTitle">
            <span href="#" name="#tab1_2">
                案例二
                <i class="tabclose"></i>
            </span>
        </li>
        <li class="tabTitle">
            <span href="#" name="#tab1_3">
                案例三
                <i class="tabclose"></i>
            </span>
        </li>

        <li class="tabright">
            <span href="#" name="#tab1_1">
            </span>
        </li>
    </ul>
    <div id="tabcontent" class="tabcontent">
        <div id="tab1_1">
            TAB1_1
        </div>
        <div id="tab1_2">
            TAB1_2
        </div>
        <div id="tab1_3">
            TAB1_3
        </div>
    </div>
</div>
<link href="~/Css/tabStyle.css" rel="stylesheet" />
<script src="~/Scripts/tabScript.js"></script>
<script type="text/javascript">
    $(function () {
        loadTab($("#ViewContent"));
    });
</script>