<div class="container-fluid tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home1" aria-controls="home" role="tab" data-toggle="tab">Home</a>
            <i class="close-tab glyphicon glyphicon-remove" style="display:block;"></i>
        </li>
        <li role="presentation">
            <a href="#profile1" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
            <i class="close-tab glyphicon glyphicon-remove"></i>
        </li>
        <li role="presentation">
            <a href="#messages1" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
            <i class="close-tab glyphicon glyphicon-remove"></i>
        </li>
        <li role="presentation">
            <a href="#settings1" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
            <i class="close-tab glyphicon glyphicon-remove"></i>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home1">home1</div>
        <div role="tabpanel" class="tab-pane" id="profile1">
            <div class="container-fluid">
                <div class="row">
                    <iframe src="http://www.baidu.com" border="0"
                            class="container-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            frameborder="no"></iframe>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages1">messages1</div>
        <div role="tabpanel" class="tab-pane" id="settings1">settings1</div>
    </div>
</div>