
@Html.DevExpress().PopupControl(
settings =>
{
    settings.Name = "ViewBody_popup";
    settings.PopupElementID = "ViewBody_popupContainer";
    settings.ControlStyle.CssClass = "ViewBody_popup";
    settings.ShowCloseButton = false;
    //settings.ShowCollapseButton = true;
    settings.ShowFooter = false;
    settings.ShowHeader = false;
    //settings.ShowMaximizeButton = true;
    settings.ShowOnPageLoad = true;
    //settings.ShowPageScrollbarWhenModal = true;
    //settings.ShowPinButton = true;
    //settings.ShowRefreshButton = true;
    settings.ShowShadow = true;
    settings.ShowSizeGrip = ShowSizeGrip.True;
    settings.Maximized = true;

    settings.Pinned = false;
    settings.AllowResize = true;
    settings.AllowDragging = false;
    settings.CloseAction = CloseAction.None;
    settings.PopupAction = PopupAction.None;
    settings.PopupAlignCorrection = PopupAlignCorrection.Disabled;
    settings.PopupAnimationType = AnimationType.None;
    settings.ControlStyle.Border.BorderWidth = 0;
    settings.Styles.Content.Paddings.Padding = 0;
    settings.Height = Unit.Pixel(0);
    settings.Styles.Footer.HorizontalAlign = HorizontalAlign.Right;
    settings.SetContent(() =>
    {
        ViewContext.Writer.Write(
        @"<table id=""editor"" style=""width:100%;height:100%"">
            <tr id=""editor_top"" style=""height:0px"">
                <td>"
        );
        Html.RenderPartial("HeaderPartialView");
        ViewContext.Writer.Write(
                @"</td>
            </tr>
            <tr id=""editor_content"" style=""height:100%"">
                <td>"
        );
        Html.RenderPartial("ContentsPartialView");
        ViewContext.Writer.Write(
                @"</td>
            </tr>
            <tr id=""editor_bottom"" style=""height:0px"">
                <td>"
        );
        Html.RenderPartial("FooterPartialView");
        ViewContext.Writer.Write(
                @"</td>
            </tr>
        </table>"
        );
    });
}).GetHtml()
<style type="text/css">
    .dxpcLite_Office2010Blue .dxpc-mainDiv, .dxpcLite_Office2010Blue.dxpc-mainDiv, .dxdpLite_Office2010Blue .dxpc-mainDiv, .dxdpLite_Office2010Blue.dxpc-mainDiv {
        background-color: #bed1e9;
        border: 1px solid #859ebf;
    }
</style>