<style type="text/css">
    #ViewBody_Header {
        border:1px solid #859ebf;
        background-color:#c0d1e9;
        padding:0px 2px 2px 2px;
    }
    #ViewBody_Content {
        border:1px solid #859ebf;
        border-top-width:0px;
        background-color:#c0d1e9;
        padding:2px;
    }
    #ViewBody_Footer {
        border:1px solid #859ebf;
        border-top-width:0px;
        background-color:#c0d1e9;
        padding:2px 2px 0px 2px;
    }
</style>
<script src="@Url.Content("~/Scripts/Struct.js")"></script>
<div id="ViewBody_Header">
    @Html.Partial("HeaderPartialView")
</div>
<div id="ViewBody_Content">
    @Html.Partial("ContentsPartialView")
</div>
<div id="ViewBody_Footer">
    @Html.Partial("FooterPartialView")
</div>