<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="myExceptionPolicy">
        <exceptionTypes>
          <add type="FengSharp.OneCardAccess.Common.BusinessException, FengSharp.OneCardAccess.Common"
            postHandlingAction="ThrowNewException" name="DivideByZeroException">
            <exceptionHandlers>
              <add exceptionMessage="Calculation Error" exceptionMessageResourceType=""
                exceptionMessageResourceName="" wrapExceptionType="FengSharp.OneCardAccess.Common.BusinessException, FengSharp.OneCardAccess.Common"
                type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="Wrap Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="mybehavior">
          <ExceptionHandling exceptionPolicy="myExceptionPolicy" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ExceptionHandling" type="FengSharp.OneCardAccess.Common.ExceptionHandlingBehaviorElement, FengSharp.OneCardAccess.Common" />
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="net.tcp://192.168.0.170/OneCardAccessServer/RBACService.svc"
        binding="netTcpBinding" behaviorConfiguration="mybehavior"
        contract="FengSharp.OneCardAccess.ServiceInterfaces.IRBACService"
        name="RBACService" />
    </client>
  </system.serviceModel>
</configuration>