.tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .tabs li {
        float: left;
        margin: 0px;
        background-color: #c0d1e9;
        border: 1px solid #859ebf;
        border-left-width: 0px;
    }

    .tabs span {
        float: left;
        position: relative;
        padding: 0px 25px 0px 15px;
        height: 0;
        line-height: 22px;
        color: black;
        border-bottom: 22px solid #cfdeef;
        font-size: 12px;
        opacity: .6;
        filter: alpha(opacity = 60);
    }

        .tabs span:hover, .tabs span:focus {
            border-bottom-color: #fcc921;
            opacity: 1;
            filter: alpha(opacity = 100);
            cursor: default;
        }

        .tabs span:focus {
            outline: 0;
        }

    .tabs .current {
        border-bottom-width: 0px;
    }

        .tabs .current span {
            z-index: 3;
            border-bottom-color: #fcc921;
            opacity: 1;
            filter: alpha(opacity = 100);
            margin-top:1px;
        }

    .tabs .tableft {
        width: 30px;
        background-color: #c0d1e9;
        border-width: 0px 1px 1px 0px;
        padding-top: 1px;
    }

        .tabs .tableft span {
            visibility: hidden;
        }

.tabcontent {
    border: 1px solid #859ebf;
    border-top-width: 0px;
    background: #fff;
    padding-top: 10px;
    font-size: 12px;
}

.tabs .tabright {
    width: 0px;
    background-color: #c0d1e9;
    border-width: 0px 0px 1px 0px;
    padding-top: 1px;
}

    .tabs .tabright span {
        visibility: hidden;
    }
