<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"  />
  </configSections>

  <dataConfiguration defaultDatabase="SQLiteConnectionString">
    <providerMappings>
      <add databaseType="ConsoleApplication2.SQLiteDatabase, ConsoleApplication2" name="System.Data.SQLite" />
    </providerMappings>
  </dataConfiguration>

  <connectionStrings>
    <add name="SQLiteConnectionString" connectionString="Data Source=|DataDirectory|data.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite" />
    <add name="DefaultConnectionString" connectionString="data source=.;initial catalog=OneCardAccessDataBase;User Id = sa;Password=111111" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider For SQLite"
           type="ConsoleApplication2.SQLiteDatabaseData, ConsoleApplication2"/>
    </DbProviderFactories>
  </system.data>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>